[2020-05-21 09:54] leifdenby opened #6 "Optimising interpolation algorithms"
@sjboeing just commented that:

I does look like numba and pythran might be a be easier to write and understand, are those your feelings too @sjboeing ?

[2020-05-21 09:58] sjboeing commented on #6
Hi @leifdenby. Yes, that is what I think as well. Numba seems more widely used, is jit (so avoids a setup step when getting the software, although that may be needed in any case), but requires llvmlite. Pythran does not seem to be jit, but it may be possible to inspect the C++ it generates and it is faster in the example. It does not need llvmlite and can be installed via pip, but seems to have mo

[2020-05-21 15:24] leifdenby opened #7 "Requesting data and downloading from CDS"
My notes:

- current download for `eul` domain (https://github.com/EUREC4A-UK/lagtraj/blob/master/input_domains/eurec4a_circle_eul_domain.yaml) takes up a few Gb.
- `download` script currently makes a number of requests (using multiprocessing), they are then queued

- analysis hour is every hour

- Roel's approach (we think) is just based on the analysis

TODO (nice to have):

- test to ensure cds

[2020-05-22 06:07] sjboeing commented on #6
Hej @leifdenby. Slowly making progress on the interpolation, it is exciting to see the island chain pop up as nans. Numba and pythran have very similar performance with numba being slightly faster so far. I would be tempted to use numba for now, especially if we manage to limit the overhead on compiling: it likely has a bigger user community, was easier to install on my laptop (pythran needed sett

[2020-05-22 07:23] leifdenby opened #9 "Request/query/retrieve CDS data based on request ID"

[2020-05-22 07:24] leifdenby opened #10 "Download multiple days from CDS api"
@sjboeing suggested this might speed up downloading. We might also hit a ceiling on max number of requests if we don't do this I think, no?

[2020-05-22 07:24] leifdenby opened #11 "Add flag to allow downloading of grib data from CDS"

[2020-05-22 07:58] sjboeing commented on #10
I think we might indeed run into issues if we try to download the domain for a whole month: so far I have downloaded up to 4 days (a typical trajectory) without trouble. The drawback of downloading multiple days and then splitting is that in some cases the data will become too big for online conversion to netcdf (though downloading grib and converting offline would still be possible), so if this i

[2020-06-01 20:51] leifdenby commented on #9
All done ! 🎉  now in `master` 😄

[2020-06-01 20:51] #9 closed

[2020-06-02 15:41] leifdenby opened #14 "merging era5 data"
Only want to use forecast data where analysis isn't available

Some variables are only available in the forecast though, for example radiative tendencies

[2020-06-03 08:25] sjboeing opened #15 "Test if forward and backward trajectory integration give similar trajectory"
Sanity check to perform: perform a backward trajectory on a larger domain (North Atlantic?), then a forward one from the earliest time, and see if this gives roughly the same path (small deviations are to be expected).

[2020-06-26 09:16] sjboeing commented on #15
This seems to work to a reasonable degree, though not perfectly. Leo is planning to run Lagranto as an additional check to the trajectories.

[2020-07-03 12:31] sjboeing opened #20 "Cancelled copernicus requests"
@leifdenby: I have added some more fields to the download, in order to get everything we need for the RACMO-formatted inputs. I noticed that when a request is cancelled on copernicus, but stays in the yaml list of requests, it is then no longer possible to try downloading again. Removing the lists of requests solves this, but there may be a better solution.

[2020-07-06 23:13] sjboeing commented on #15
Lagranto seems to be in good agreement with lagtraj. Closing this for now.

[2020-07-06 23:13] #15 closed

[2020-07-12 15:43] leifdenby opened #23 "Add missing functionality from sjboeings era5 code"
- [ ] trajectory start where starting time is in-between timesteps in domain data

- [ ] extracting velocity on pressure levels

- [ ] select only some dataset variables before interpolating era5 datasets

- [ ] calculating forcings

[2020-07-12 15:51] leifdenby commented on #20
Could you show me where on copernicus I should go to cancel a request? I'll have a go at working out how to handle the API response from cdsapi where a request has been deleted. Thank you 😄

[2020-07-12 15:52] leifdenby commented on #14
This is largely being resolved through the specialised `ERA5Dataset` in https://github.com/EUREC4A-UK/lagtraj/pull/21

[2020-07-12 15:52] #14 closed

[2020-07-12 15:52] leifdenby commented on #7
This is all part of https://github.com/EUREC4A-UK/lagtraj/pull/21

[2020-07-12 15:52] #7 closed

[2020-07-12 15:53] leifdenby commented on #6
Should we close this now @sjboeing? I think what you've implemented achieves what we were hoping for here, no? ⭐

[2020-07-12 15:54] leifdenby commented on #11
Is this still relevant @sjboeing? I remember talking about it, but I'm not sure that it's worth our time

[2020-07-12 18:50] sjboeing commented on #20
On https://cds.climate.copernicus.eu/cdsapp#!/yourrequests, there is a "delete selected" button, which can also be applied before a dataset is retrieved. Let me know if that doesn't work for testing.

[2020-07-12 18:56] sjboeing commented on #11
Let's close it for now. It is probably something we would like to add eventually, but for now we can manage with the present domain size which does not require cfgrib (I am having some trouble with trajectories from higher levels at the moment).

[2020-07-12 18:57] #11 closed

[2020-07-12 19:38] sjboeing commented on #6
Yes, think is now good!

[2020-07-12 19:38] #6 closed

[2020-07-20 10:04] sjboeing opened #24 "Issues running master branch with numba"
Hi @leifdenby,

I am currently having issues running the master branch on the trajectory I usually use with numba. This shows up with the error below. The issue seems to be that the heights array used by calculate_heights_and_pressures still has the vertical coordinate in. This might mean it has been dropped from the wrong dataset (it needs to be a 2d field), I will check for you.
________________

[2020-07-20 10:17] sjboeing commented on #24
Think I have a fix (needed to solve a another issue as well), will send a pull request soon.

[2020-07-21 11:13] leifdenby opened #26 "Only retrieve variables needed for trajectories in era5 domain data"
Snippet from @sjboeing that we want to mimick

[code]

[2020-07-21 14:15] leifdenby commented on #24
thanks for the fix @sjboeing! Should we close this? I think this was fixed with https://github.com/EUREC4A-UK/lagtraj/pull/25, right?

[2020-07-22 12:14] #24 closed

[2020-07-22 12:19] sjboeing opened #28 "Path of trajectory files"
@leifdenby: lagtraj is currently looking for trajectories in the data directory, rather than in the input_examples directory as far as I can tell (it might be same for forcings). It does work when full file paths are provided, but this is inconvenient for the performance readme document. Would this be easy for you to change?

[2020-07-22 17:36] sjboeing commented on #26
Hi @leifdenby:

A quick update after some more testing:
- It appears that applying .sel on a dataset is faster than applying it on the individual arrays
- Calculating the slice longitude and latitude time indices using sel is just a bit slow (5% or so performance loss). I have come up with a temporary suggestion in the attachment.
- I think "load" is quicker than "compute" (which surprises me a bi

[2020-07-23 08:01] sjboeing commented on #26
@leifdenby: did a little more work on this. Below is a suggestion for interp that seems to have reasonable performance (it takes a "variables" argument, sel could be modelled on it)

[code]

[2020-07-23 10:51] leifdenby commented on #28
Let's talk about this on a call. That is by design yes, but maybe we should change it or it's unclear

[2020-07-23 11:02] leifdenby opened #29 "issue warnings for input examples for lagtraj"
- [ ] input example is loaded from path with `input_example/trajectory/...`
- [ ] existing yaml file in `data/`: don't overwrite, issue error to say that there is a modified file if that is so

[2020-07-23 11:34] sjboeing commented on #28
#29 discusses the fix for this

[2020-07-23 11:34] #28 closed

[2020-07-23 16:22] leifdenby opened #32 "Optimising era5 data loading (creating trajectories)"
This is just for some notes for my own future reference to track the improvements in speed.

For the testing I am using trajectory setup `eurec4a_20191209_12_lag`:

[code]

[2020-07-23 16:34] leifdenby commented on #32
base run (without numba):

[code]

[2020-07-23 16:53] leifdenby commented on #32
selecting only required variables:

[code]

[2020-07-23 16:58] leifdenby commented on #32
`compute()` replaced with `load()`, 6.6s vs 4.8s:

[code]

[2020-07-23 19:25] leifdenby commented on #32
not slicing on coordinates where specific value exists:

[code]

[2020-07-23 20:08] leifdenby commented on #32
creating slices from numpy arrays instead of xarray slicing:

[code]

[2020-07-23 21:04] #32 closed

[2020-07-24 12:20] sjboeing commented on #26
Implemented in #34 and #35.

[2020-07-24 12:20] #26 closed

[2020-07-30 13:47] sjboeing opened #38 "Handle failed download requests"
ERA5 requests sometimes fail, but it is possible to simply resubmit the request. Currently I am deleting the data requests yaml file when this happens, but obviously this is not an ideal solution.

[2020-07-31 12:08] sjboeing opened #39 "Ensure output of Lagtraj contains full ERA5 notification"
@leifdenby. There is already a reference to the ERA5 dataset, but we should also add a note: "Contains modified Copernicus Climate Change Service Information". Possibly best to do this in the new version of the forcings.

[2020-08-03 10:32] sjboeing commented on #38
I think there is an issue as well if the file is deleted on the ECMWF site between when the download request is placed and when the actual download takes place (apologies, should have copied the error, will do so when this occurs again).

[2020-08-04 11:39] sjboeing opened #42 "Steef to add docstrings"
- Gradient calculation docstring
- Auxiliary variables
- Ocean mask docstrings

[2020-08-04 11:44] sjboeing commented on #42
Also for filtering lat/lon

[2020-08-04 11:47] leifdenby commented on #38
Suggested solution:

Delete the entry in the `data_requests.yaml` and create new request, and inform user of this. Also post message to user suggesting they can delete `data_requests.yaml` without any loss of data

[2020-08-06 15:33] leifdenby opened #43 "Add versioning with versioneer"
- [ ] add versioneer
- [ ] add version to netcdf meta info

[2020-08-07 17:08] sjboeing opened #44 "Writing attributes to netCDF"
Hi @leifdenby. One of the recent commits on the master branch adds writing attributes to netCDF. It is this piece of code:

[code]
in lagtraj/trajectory/create.py (line 57)

However, this fails on the files I am testing with (which is similar to ./input_examples/trajectories/eurec4a_20191209_12_lag.yaml), because some of the keywords refer to dictionaries or xarray-type objects. What do you think?

[2020-08-10 14:12] sjboeing commented on #44
See pull request #45.

[2020-08-10 14:12] #44 closed

[2020-08-12 19:37] sjboeing commented on #42
Handled in #46

[2020-08-12 19:37] #42 closed

[2020-08-12 19:37] sjboeing commented on #39
Handled as part of #46

[2020-08-12 19:37] #39 closed

[2020-08-12 19:55] sjboeing opened #47 "Add pressure level trajectories"

[2020-08-12 19:55] sjboeing opened #48 "Add conversions"

[2020-08-13 15:06] leifdenby opened #49 "Make test for creating trajectory from yaml-file add in repo"
Use `eurec4a_20200202_12_lag_short.yaml` as the yaml input

[2020-08-13 15:08] leifdenby opened #50 "Make sure ncview is happy with output files"
Look for `ncview: netcdf_dim_value: unknown data type` in output

[2020-08-14 10:32] #50 closed

[2020-08-18 10:22] sjboeing opened #52 "Set up JOANNE corrections"

[2020-08-18 11:08] leifdenby opened #53 "Make `time` coordinate be in seconds from the very first timestamp in the trajectory/forcing"

[2020-09-01 15:57] leifdenby commented on #23
This work was completed with https://github.com/EUREC4A-UK/lagtraj/pull/40

[2020-09-01 15:57] #23 closed

[2020-09-01 16:18] #53 closed

[2020-09-04 10:35] #43 closed

[2020-09-21 10:09] sjboeing opened #59 "Check documentation status"

[2020-09-21 10:36] sjboeing commented on #59
[11:31] Steven Boeing
    Hi Leif, I am slowly going though the documentation. I am trying to get the input_defintions examples to work, but get
​[11:31] Steven Boeing
    python -m lagraj.input_definitions.examples
/home/stevenboeing/miniconda2/envs/py3/bin/python: Error while finding module specification for 'lagraj.input_definitions.examples' (ModuleNotFoundError: No module named 'lagraj')
​[11

[2020-09-21 10:46] sjboeing commented on #59
Possibly we can add that the forcing can be a "lagtraj://" location. I will add the conversions step once this is ready.

[2020-09-30 16:19] sjboeing commented on #48
First draft in #60

[2020-09-30 16:30] sjboeing opened #61 "Combine Steffen interpolation functions"
Make a single Steffen interpolation function for both forcing calculations and conversions

[2020-10-01 15:44] sjboeing commented on #47
Implemented in https://github.com/sjboeing/lagtraj/tree/pressure_levels

[2020-10-02 09:22] sjboeing commented on #61
Have been looking at implementing this with an optional axis argument, but this seems like it is fairly complicated to do (looking at numpy source code). May try to simply write a 1-d implementation that is called from the other routines, and see if this comes with a performance loss or not.

[2020-10-02 09:33] sjboeing commented on #52
Some things to think about:
- Set this up as a 'correction' inside the ERA5 data processing.
- Set this up as a stand-alone tool, and "merge" the data as a separate step.

[2020-10-02 12:28] leifdenby opened #62 "Installation instructions"

[2020-10-02 12:30] sjboeing opened #63 "Simulations over land/topography"

[2020-10-05 09:29] sjboeing opened #65 "Anti-meridian and pole handling"
Current version of code does not handle the anti-meridian or poles. These could likely be accommodated for in principle, but it may require some work.

[2020-10-05 09:38] sjboeing opened #66 "Documentation in tex form, linking to literature"

[2020-10-05 16:10] sjboeing opened #68 "Check details of HIGHTUNE format"

[2020-10-05 21:43] sjboeing opened #69 "Should we remove cfgrib and dask dependencies for now?"

[2020-10-05 21:43] sjboeing commented on #69
They are not currently used.

[2020-10-06 08:31] sjboeing commented on #68
Would eventually be good to check this with Romain as well.

[2020-10-06 09:28] sjboeing opened #71 "Rename formats"
Rename HIGHTUNE to DEPHY, and RACMO to KPT (KNMI parametrisation testbed) for clarity?

[2020-10-08 11:06] sjboeing opened #72 "Versioning outputs"

[2020-10-08 11:27] #20 closed

[2020-10-08 12:02] leifdenby opened #73 "Suggestions for changes to forcing conversions functionality"
I have a few suggestions about how to change the routines for converting the forcings, I would:

1. Move the `lagtraj.conversions` module to `lagtraj.forcing.convert` as the forcing is related explicitly to changing a forcing file and not to changing domain data or trajectories

2. Move the functionality that refers to `hightune` or `racmo` in the `era5` module to the `hightune` and `racmo` module

[2020-10-08 12:23] leifdenby commented on #72
My proposal for versioning is:

- version **both** trajectories and forcings in the same way
- user optionally able to specify a version in the yaml-file(s) (that describe how to create a given trajectory or forcing) using the `version` attribute
- if the `version` attribute hasn't been set we use the default value `unversioned`
- the `version` variable is used in both the filename (`{trajectory_n

[2020-10-08 12:24] leifdenby commented on #71
Sounds good to me

[2020-10-08 12:24] leifdenby commented on #69
Yes, let's do that if they're not used

[2020-10-08 14:52] sjboeing commented on #73
Hi @leifdenby,

Thanks for looking at the code in more detail. I will try to finish the HIGH-TUNE format first, but then we can think about moving things around a bit. Some thoughts:
** So far we have been using era5 indeed, but I hope eventually the code will be generalised to other inputs (e.g. dropsondes, UM, ICON), so the conversions are from an input format to an output format, although there

[2020-10-08 14:54] sjboeing commented on #47
Added by #70.

[2020-10-08 14:54] #47 closed

[2020-10-08 15:16] sjboeing commented on #72
This sounds good @leifdenby . It may seem a bit of an overkill, but I think it will help us trace issues. One thing to note is that DEPHY SCM files are usually named "$CASE$_$SUBCASE$_SCM_driver.nc". I have not implemented this filename convention at this point, we may want to use $name_$version_SCM_driver.nc for DEPHY output but the file names become a bit tedious that way.

[2020-10-08 15:17] sjboeing commented on #71
Will do this once the HIGHTUNE (to be renamed DEPHY) input is fully implemented.

[2020-10-09 14:33] sjboeing commented on #68
Hi @leifdenby. I have pushed a first commit here (https://github.com/sjboeing/lagtraj/tree/hightune_extension). This shows the basic principle. What I will still work on:
- Taking in parameters from the conversion file
- Height-dependent nudging.
If you would like to move forward with restructuring already, let me know. I could make this a pull request and do the other things later.

[2020-10-11 10:12] sjboeing commented on #73
I was just thinking a bit more about the conversion yaml files. There is something to be said for putting as many parameters as we can in the conversion yaml (effectively any parameters that do not require recalculation of the forcings in native format, like the ones relating to nudging and whether to used radiative tendencies or the radiation scheme), rather than the forcing yaml. This would mean

[2020-10-12 11:47] sjboeing commented on #68
Short note: the HIGH-TUNE format specifies the case in more detail than the racmo format. Will need to think about this: should the RACMO format complain if high0tune format parameters are also specified?

[2020-10-12 18:49] sjboeing commented on #68
Hi @leifdenby. I just put some suggested changes for adding parameters and metadata to the yaml files here:
https://github.com/sjboeing/lagtraj/tree/conversion_parameters_suggestion
It will need some work still, and some of that will link up to your work on versioning.

[2020-10-13 10:01] sjboeing opened #74 "Remove option to choose column_mean velocity for trajectory calculation"
I would suggest we remove this option. It could be appealing for users to do this, but it is usually not a good choice as it depends on winds at higher levels and domain height.

[2020-10-19 08:31] sjboeing opened #77 "Check RACMO format in some more detail as well"
In particular the different latitudes and longitudes involved

[2020-10-26 13:21] sjboeing commented on #74
Done in #78

[2020-10-26 13:21] #74 closed

[2020-10-30 08:00] leifdenby commented on #52
Paper by Roel's former PhD student Stephanie Reilly on nudging LES towards NARVAL dropsondes: https://doi.org/10.1175/JAMC-D-19-0013.1

[2020-11-02 16:59] sjboeing commented on #71
Will close this now #75 has been merged

[2020-11-02 16:59] #71 closed

[2020-11-02 16:59] sjboeing commented on #77
Will close this now #75 has been merged

[2020-11-02 16:59] #77 closed

[2020-11-02 16:59] sjboeing commented on #68
Will close this now #75 has been merged

[2020-11-02 16:59] #68 closed

[2020-11-02 17:00] sjboeing commented on #48
Will close this now #75 has been merged

[2020-11-02 17:00] #48 closed

[2020-11-06 12:19] leifdenby opened #82 "Cleanup before v0.1.0"
I think that we should:

- rename https://github.com/EUREC4A-UK/lagtraj/blob/master/input_examples/domains/eurec4a_circle_eul.yaml -> `eurec4a_circle.yaml`

- delete https://github.com/EUREC4A-UK/lagtraj/blob/master/lagtraj/utils/settings.py

- delete https://github.com/EUREC4A-UK/lagtraj/blob/master/lagtraj/utils/parsers.py

- move content in https://github.com/EUREC4A-UK/lagtraj/blob/master/lagt

[2020-11-06 12:25] sjboeing commented on #82
Sound good!

[2020-11-09 10:50] sjboeing opened #84 "Trajectory crosses islands"
Hi @leifdenby. I had some issues extracting a trajectory for Feb 9, because the "ocean" trajectory crossed Barbados. In particular, the "ocean mask" meant that the creation of local profiles and large-scale advection failed over the island. I therefore would suggest to:
1) compute the large-scale advective terms based on the mean winds in the domain, rather than local winds.  Admittedly, the traje

[2020-11-09 11:15] sjboeing commented on #84
Just uploaded the actual changes..

[2020-11-09 11:19] #38 closed

[2020-11-11 15:41] sjboeing commented on #84
Steef to add flag for local versus mean wind in advection

[2020-11-13 10:31] sjboeing commented on #84
All added in #85

[2020-11-13 10:31] #84 closed

[2020-11-13 10:32] sjboeing opened #86 "Trajectory calculation using averaged rather than local winds"
Not very high priority, but would be nice to have for consistency.

[2020-11-26 10:04] #82 closed

[2020-11-26 13:09] #69 closed

[2020-11-26 18:48] sjboeing opened #93 "Consistency checks before version 0.1.0"
Make sure examples/python files etc are consistent.
** Change: lagtraj.forcing.create → lagtraj.forcings.create in wiki where needed
** Check examples consistency (domain needed, dates in file name vs dates of datetime_origin)
** Check how to use paths to refer to files which exist only in the data directory (if desired). Running with the full path generates the files in a file path which is longe

[2020-11-26 18:50] sjboeing commented on #63
Will be adding some example files for Cardington soon

[2020-11-27 07:52] #29 closed

[2020-11-27 10:23] leifdenby opened #94 "Ensure to strip relative path when loading input definitions through absolute path to yaml file"

[2020-11-29 20:57] sjboeing commented on #93
Also todo: go through the commands in the readme.

[2020-12-01 14:53] sjboeing commented on #63
Need to think about what height is 0 for MONC inputs.

[2020-12-01 15:06] #72 closed

[2020-12-03 09:29] leifdenby opened #95 "Improvements mentioned in sourcecode"
Creating trajectories:

- Add metadata to NetCDF output
- Improve linear trajectory to work with haversine functions and actual velocities
- Relax assumption of hourly data?

[2020-12-04 15:25] sjboeing commented on #95
I think relaxing the assumption of hourly data may be the trickiest of these to test well. The rest could certainly be part of a first tagged version.

[2020-12-04 15:31] sjboeing commented on #95
It looks like we are already using the haversine function in:
extrapolate_posn_with_fixed_velocity

[2020-12-04 15:32] sjboeing opened #98 "Remove boundary_gradients routine from lagtraj/trajectory/interpolation.py"
@leifdenby: I don't think this should be here anymore?

[2020-12-06 17:47] #49 closed

[2020-12-15 11:15] sjboeing opened #101 "Ensure humidities are positive"

[2021-01-05 17:14] sjboeing commented on #101
After checking with Leo, this seems OK in the current files. The issue may have been elsewhere.

[2021-01-05 17:17] sjboeing commented on #59
Closing this, as further checks are specified in #93

[2021-01-05 17:17] #59 closed

[2021-01-06 10:25] sjboeing commented on #101
Issue seems to be in the hydrometeors, rather than the water vapour field

[2021-01-06 10:31] sjboeing commented on #101
It probably results from the horizontal interpolation on the EC side not being monotonic.

[2021-01-07 10:03] leifdenby opened #106 "eurec4a_2019* trajectory examples are inconsistent"
The dates in the input definition files with 2019 in the filename are inconsistent with the date range inside the files. We should decide what to do with these

Once this has been decided https://github.com/EUREC4A-UK/lagtraj/pull/103 needs redoing to reflect this

[2021-01-07 10:05] leifdenby commented on #95
ok, so I'll make an issue to track the idea of making the improvement to "relax assumption of hourly data"? I don't quite understand what that actually means. We compute the time increments explicitly, so we should be able to support input with different time resolution already, no? Or is this referring to be able to interpolate in time?

[2021-01-07 10:06] leifdenby commented on #98
You're right! I don't see this referenced anywhere. Let's remove that before `v0.1.0`

[2021-01-07 10:08] leifdenby commented on #101
Ok. Does that mean we might need some more sophisticated interpolation routines? Or maybe these needs a bit further digging to understand what ECMWF are doing?

How do you feel about leaving this till `v0.2.0`? We can release that quite soon if it's quite to do, but I'd like to get a tagged version with the conversion work done so we have a reference point without any further features.

[2021-01-07 10:42] leifdenby opened #107 "Use github actions assets cache to speed up tests"
Instead of downloading test domain data tarball from JASMIN every time we run the test we could cache them using https://github.com/actions/cache. This will require refactoring the test code so that the download is done separately to running the tests.

[2021-01-07 11:10] sjboeing commented on #101
I think we can leave this to 0.2.0, as long as we add it to a list of known issues. It my be related to this issue:
https://confluence.ecmwf.int/display/EMOS/Precipitation
It may not be crucial, as we usually don't initialise the rain fields in LES. One approach would be a correction to the field to ensure all values are 0 or greater early in the pipeline (possibly when the fields are still in the

[2021-01-07 11:15] sjboeing commented on #95
I agree that as long as time increments are explicit everywhere, there should not be a problem in changing the input time resolution. We would need to check if there aren't any explicit references to the hourly character of the data Maybe we can test this by using 3-hourly input data? I would leave any time interpolation to beyond v0.1.0.

[2021-02-03 21:39] sjboeing opened #108 "Change sign in theta exponent!"

[2021-02-04 09:59] sjboeing commented on #108
Addressed in #109

[2021-02-04 09:59] #108 closed

[2021-02-04 10:04] sjboeing opened #110 "Unversioned domain data"
@leifdenby The version management is catching inconsistencies, though I haven't been able to quickly hack it to get the forcings routine to use the unversioned domain data I previously downloaded (an error occurs in line 76 of lagtraj/trajectory/load.py). I may just add a version attribute to the existing forcings as a hack, the question is whether we want to be able to use unversioned domains in

[2021-02-04 10:09] sjboeing opened #111 "Conversion format parser argument"
I am having trouble with the parser argument for the conversion format in lagtraj/forcings/create.py. The code includes a --target-model argument, but also a conversion_name argument. The argument in the current README seems to be --convert.
      main(
            data_path=args.data_path,
            forcing_defn=forcing_defn,
            conversion_name=args.conversion_name,
        )
We may wa

[2021-02-04 10:21] leifdenby commented on #111
Ok, yes let's have a chat about this

[2021-02-04 10:23] leifdenby commented on #110
Ok, yes I haven't really written any documentation for this but, so let's talk about it on our next call :)

[2021-02-09 10:17] sjboeing opened #112 "Fix None type issues in reading input definitions"
[code]

[2021-02-09 10:19] sjboeing commented on #111
@leifdenby: I just checked with a clean version of lagtraj. The same issue seems to appear in that case. This may not be picked up by unit tests.

[2021-02-10 09:14] leifdenby commented on #111
Ah, yes. I see what you mean. Lines https://github.com/EUREC4A-UK/lagtraj/blob/master/lagtraj/forcings/create.py#L224 and https://github.com/EUREC4A-UK/lagtraj/blob/master/lagtraj/forcings/create.py#L240 are inconsistent. I changed my mind about what to name these. I thought `target_name` was good at first, but eventually changed my mind to call it `conversion` (more in line with what you'd done b

[2021-02-10 10:39] leifdenby commented on #112
Ah yes, this makes sense. The code is attempting to check if all domain data is downloaded, but for an Eulerian trajectory no domain is given. So there's no domain definition to load. This is an easy fix.

I could add a test which runs Eulerian trajectory creation and forcing creation via the CLI (I'm adding that for the Lagrangian trajectories and forcings right now: https://github.com/EUREC4A-UK

[2021-02-10 10:41] leifdenby commented on #110
If you want a hand with this before we talk maybe you could paste in to a comment the commands you're running and the output?

[2021-02-10 15:29] sjboeing commented on #110
I am having trouble reproducing this right now. Will let you know in case I find it again.

[2021-02-15 11:59] sjboeing commented on #73
@leifdenby: are you happy to close this issue?

[2021-02-16 11:00] leifdenby commented on #111
This should be fixed now I merged in that pull-request. When you give it a try @sjboeing could you close the issue if it works now? Cheers

[2021-02-17 10:18] sjboeing commented on #111
Thanks, Leif. This now works well!

[2021-02-17 10:18] #111 closed

[2021-02-17 10:19] sjboeing commented on #110
Closing this for now.

[2021-02-17 10:19] #110 closed

[2021-02-17 10:24] sjboeing opened #114 "Inconsistency between lagtraj input_examples and data breaks test"
@leifdenby: I am looking at the Cardington changes now. It looks like inconsistencies between input_examples and local versions break the tests. This is possibly desirable, but means that if there is a local copy of an input example it should have a different name. What do you think?

[2021-02-17 10:35] sjboeing commented on #106
A quick suggestion here would be to include examples from the EUREC4A field campaign (Feb 2 and 5) and Cardington only with Lagtraj at this point.

[2021-02-17 10:36] sjboeing commented on #94
I think this has now been addressed, is that right, @leifdenby?

[2021-02-17 10:39] sjboeing commented on #95
@leifdenby: changing the title as I think the other points (including NetCDF metadata) have now been addressed.

[2021-02-17 21:13] sjboeing opened #115 "Bring in dropsonde modification"

[2021-02-17 21:14] sjboeing opened #116 "Bring in aerosol observations for initialisation of DEPHY/KPT"

[2021-02-18 09:46] leifdenby commented on #94
Yes it has

[2021-02-18 09:46] #94 closed

[2021-02-18 17:02] sjboeing commented on #115
@leifdenby, should bringing in observations be a separate step that modifies an ERA5 file?

[2021-02-18 17:04] sjboeing commented on #63
@leifdenby: I think this might be best placed as part of the conversion process. For MONC, the local surface is at 0.

[2021-02-18 17:45] sjboeing commented on #112
@leif: this is actually a useful bug. Currently, when creating a Eulerian trajectory, we are no longer using the domain. But the domain is needed to get the domain times for the trajectory. Proposed fix is to load the domain data after all.

[2021-02-19 09:50] sjboeing commented on #65
- Near the pole: first calculate maximum longitude difference needed based on northernmost point, use circular mask. Best to apply regression (with local coordinates) for gradients.
- Some notes on anti-meridian: https://gis.stackexchange.com/questions/205871/xarray-slicing-across-the-antimeridian

[2021-03-25 13:46] sjboeing commented on #62
I would suggest to merge the pull request on this, but do a final check before v0.1.0

[2021-03-25 13:47] sjboeing commented on #115
Closing, duplicate of #52

[2021-03-25 13:47] #115 closed

[2021-04-12 08:45] #112 closed

[2021-04-22 08:03] sjboeing opened #124 "Update DEPHY format with latest changes from Romain"

[2021-04-22 10:41] sjboeing commented on #63
@leifdenby: I now started working on simulations over land again. One of the things I am planning to change is the sampling_mask in the forcings input definition. I would like to give users the choice between "all", "ocean_only" and "land_only". I am not sure if there should be a default choice (all?), or if we should force users to specify it. The latter may be the better option, as it prevents u

[2021-04-23 12:34] leifdenby commented on #114
Fixed with pull-request #121

[2021-04-23 12:34] #114 closed

[2021-04-23 12:51] leifdenby commented on #106
TODO

- [ ] add "cardington" domain yaml-file
- [ ] add eulerian trajectory using "cardington" domain yaml-file
- [ ] add "cardington" forcing yaml-file
- [ ] remove `eurec4a_20191209_12_eul.yaml`
- [ ] remove `eurec4a_20191209_12_lag.yaml`
- [ ] remove `eurec4a_20191209_12_lin.yaml`
- [ ] change `eurec4a_20200202_12_lag_short_pressure.yaml` to be on the 5/2/2020T15Z, name will be `eurec4a_2020020

[2021-04-23 13:01] leifdenby commented on #62
@leifdenby to do a final read of README before tagging as v0.1.0

[2021-04-24 19:48] sjboeing commented on #63
Many required changes are in #125. What needs to be added still is a way to ensure the surface is placed at the right level. Thinking about this a bit more today, I think this should already be done before conversion, as we will get the maximum amount of near-surface information by choosing the right height levels at this point.

[2021-06-08 14:05] ralphburton opened #126 "Lagtraj - suggestions for documentation"
Hi Leif and Steef,

Thank you very much for this.

I've gone through this from beginning to end and have managed to create a dephy netcdf file. Great!

Just a few comments on the documentation:

In the block of code just after the para. "You can either make your own..." there is "lagraj" ......--> "lagtraj"...maybe needs correcting for lazy people like me who copy-and-paste.

Likewise, throughout,

[2021-06-09 08:27] sjboeing commented on #126
Thanks @ralphburton. I don't think the colon in the directory name is intentional. I will look into these in more detail later this week.

[2021-06-09 09:10] leifdenby commented on #126
thanks @ralphburton! I'll break this down into a TODO list below

- [ ] fix typo in README in the block of code just after the paragraph `You can either make your own...`: `lagraj` --> `lagtraj`
- [ ] fix typos in README: `lagtraj.forcing.create` -> `lagtraj.forcings.create`
- [ ] add details to README on obtaining an account from cds.climate.copernicus.eu (and creating `~/.cdsapirc`) for download

[2021-06-09 16:46] leifdenby commented on #126
@sjboeing in pull-request #127 above I have added a test which reads the README file and finds all lagtraj commands and tries to run them. You can see from the output log of the run that that it fails on some of the commands in the README, this is because of the issue of the conversion with lagtraj bundled conversions having in a bug in how the yaml-file path was constructed, but I am fixed that i

[2021-06-25 13:56] sjboeing opened #129 "Remove "all" mask if possible"
LD: I think that instead of having this case here (which creates a mask that doesn't do anything) I would check in the calling function and not do anything if mask_type == "all", i.e. in https://github.com/sjboeing/lagtraj/blob/master/lagtraj/forcings/profile_calculation.py#L170 I would replace

# and apply a mask (we might for example only want to consider columns
# which are over the ocean)
da_m

[2021-06-25 13:58] sjboeing opened #130 "Remove "all" mask"
I think that instead of having this case here (which creates a mask that doesn't do anything) I would check in the calling function and not do anything if `mask_type == "all"`, i.e. in https://github.com/sjboeing/lagtraj/blob/master/lagtraj/forcings/profile_calculation.py#L170 I would replace

[code]

with

[code]

Also, we should make sure that the `calc_mask` function ensures that the `units` at

[2021-06-25 13:58] #129 closed

[2021-06-25 13:58] sjboeing commented on #129
Created issue with better formatting

[2021-06-25 13:59] sjboeing commented on #130
Happy to have a chat about this! I have had trouble to get some functionality to work in the absence of a mask (even a mask that is simply set to "True" everywhere). Probably I am overlooking something stupid! This could be something to look into, but on the other hand I don't see it as something that needs resolving urgently. For now I am happy to move the units around.

[2021-07-05 12:36] sjboeing opened #131 "Issues downloading on JASMIN"
More details to follow. Lagtraj seems to get stuck after downloading 1 file.

[2021-07-06 20:21] sjboeing commented on #131
@leifdenby: unfortunately ctrl-C does not respond.
Last visible info:
Downloading files which are ready...
2021-07-06 20:40:33,151 INFO Downloading https://download-0011.copernicus-climate.eu/cache-compute-0011/cache/data0/adaptor.mars.external-1625568871.3732188-10068-8-d922e602-53d1-443c-a74b-ced77b0c7e34.nc to /gws/nopw/j04/eurec4auk/users/sboeing/lagtraj/data/domains/eurec4a_north_atlantic_dat

[2021-07-06 20:42] sjboeing commented on #131
Do you know if any good python debug tools are available on JASMIN?

[2021-07-09 13:04] sjboeing commented on #131
@leifdenby: I am making some progress here by manual debugging, it seems to be an issue in the fingerprinting and not JASMIN-specific (see-gw-01 has the same issues).

[2021-07-09 17:01] sjboeing commented on #131
@leifdenby: the problem is with adding attributes on the netCDF file. It is strange I did not have problems with this before. It seems to work OK with xarray but I think I am writing the file again from scratch! More to follow.

[2021-07-10 15:15] sjboeing commented on #131
@leifdenby:

Locally, I have replaced the fingerprinting with:
[code]
 This ensures it does not get suck, but there may be more elegant solutions. What do you think?

[2021-07-21 09:21] leifdenby commented on #131
Well done for finding this issue and fixing it!

[2021-07-24 11:21] sjboeing commented on #131
Solving via #132

[2021-07-27 08:38] sjboeing commented on #131
@leifdenby: Using xarray ruined the data. I now tried setncattr_string, which leads to an error:
  File "netCDF4/_netCDF4.pyx", line 2897, in netCDF4._netCDF4.Dataset.setncattr_string
OSError: file format does not support NC_STRING attributes
I will first try upgrading the netcdf4 package. Maybe an alternative would be to use a number as a hash?

[2021-07-27 11:31] sjboeing commented on #131
Hi @leifdenby: I have meanwhile tried a few other things (numerical hashes, adding a variable instead). Nothing seems to work well on JASMIN at the moment with the default setup. I could try creating a clean conda environment, but maybe the better way would indeed be to store the hash separately at this point in the pipeline. Maybe we can build in some check to ensure the hash and the file are con

[2021-07-30 13:16] leifdenby commented on #131
@sjboeing I'm ready to have a try at fixing this. Could you give the command you're using and the branch of lagtraj you're working from please?

I assume the command is something like:

[code]
?

[2021-08-03 08:59] sjboeing commented on #131
python -m lagtraj.domain.download lagtraj://eurec4a_north_atlantic 2020/01/28 2020/02/09

The branch is the recent EUREC4A-UK master branch. I am not sure if the problem is specific to either the larger domain or jasmin. The code works fine for small domains on my laptop.

[2021-08-04 08:53] leifdenby commented on #131
@sjboeing I've had a go a removing the finger-printing in the pull-request above. I've currently got a download queued with the command you used. I'll let you know how it goes 😄

[2021-08-04 19:04] sjboeing commented on #131
thanks @leifdenby. I see you have a few more pull requests open as well: just let me know if I can have a look at these as well.

[2021-08-17 09:42] leifdenby opened #137 "Remove redundant mask calculation"
In discussion on https://github.com/EUREC4A-UK/lagtraj/pull/125#discussion_r648107923 @sjboeing and I noticed that currently the code expects there always to be a mask even when none is needed. This could be cleaned up to make the code clearer.

[2021-08-17 09:48] leifdenby opened #138 "Issue downloading domain data"
Hi Steef & Leif,

I’m finally resuming my SCM/MONC work with lagtraj but with a new dataset from a recent field campaign in Spain where we have a number of flux towers installed. I’ve tried to download a new domain, which includes land and sea but running into some problems. I was wondering if you have any suggestions, I remember running into a problem when I first downloaded the Cardington domain

[2021-08-17 10:08] leifdenby commented on #138
@jbrooke-metoffice thanks for the detailed notes on what you've tried!

I think what is going wrong is two things:

1) I recently noticed that I had made a mistake in `setup.py` which defines out lagtraj is installed with `pip`. This meant that the input yaml-files that we bundle with lagtraj weren't copied to the right place (that's the second error you're seeing). The good news is that I recentl

[2021-08-17 10:52] jbrooke-metoffice commented on #138
Hi Leif,

Thanks for getting back to me so quickly. With the current version of lagtraj I already have downloaded your revised python download command seems to work, and I’ll get back to you if I run into any more problems.

On the installation side:

I had a few installation issues first time round when I did this, and I set up a conda environment with the various python packages that lagtraj nee

[2021-08-17 11:41] leifdenby commented on #138
I've seen that error before, but I'm surprised it's happening and I haven't been able to reproduce it on my computer. Could you tell me what operating system and python version (i.e. the output of running `python --version`) you're using? I think this is a python2 related error.

It's quite an easy fix, but I just want to be able to reproduce it so I'm sure that it is fixed.

[2021-08-17 11:41] leifdenby commented on #138
I haven't put lagtraj on conda (or pipy) yet, so `conda install lagtraj` or `pip install lagtraj` won't work :)

[2021-08-17 12:43] jbrooke-metoffice commented on #138
I’m using Red Hat Enterprise Linux Client 7.9 and Python 3.6.10.

Unfortunately the ERA5 download has failed again.

Sleeping 15.0min...
Retrying download

Status on current data requests:
/net/data/users/jbrooke/lagtraj-liaise/data/domains/liaise_julysop_data/an_model_2021-07-15.nc:
                failed (305345b1-6fb2-4dda-b24e-70a34343e93f)
/net/data/users/jbrooke/lagtraj-liaise/data/domains/l

[2021-08-17 12:53] sjboeing commented on #137
Would be nice to do this. Not giving this priority, but hope to revisit this later.

[2021-08-17 12:54] sjboeing commented on #137
Is this a duplicate of #130?

[2021-08-19 13:06] #73 closed

[2021-08-19 13:10] sjboeing opened #140 "Integrate cli-fixes-and-tests branch"
@leifdenby: I am now able to create forcings again, but had to integrate this branch into a temporary one. Could you have a look and see if it is ready to be merged in?

[2021-09-15 09:32] leifdenby commented on #137
yes, sorry, you're right. I'll close this

[2021-09-15 09:32] #137 closed

[2021-09-15 09:33] leifdenby commented on #131
With the finger printing removed we should be able to close this I think. Is that ok @sjboeing ?

[2021-11-02 11:59] leifdenby opened #148 "Reading in Met-Offce Unified Model data"
@LSaffin and I are going to try and get UM model data read into lagtraj :smile:

So far what I know we need is:

- [ ] loading of UM netCDF files, this should loaded the relevant netCDF files (by some naming convention, or globbing a directory), rename variables to the ECMWF naming convention and add any derived variables that lagtraj needs
- [ ] interpolation from UM height-levels (which are diff

[2021-11-02 12:02] leifdenby commented on #148
Name-mapping for UM to ECMWF variable names (taken from https://github.com/EUREC4A-UK/lagtraj/blob/master/lagtraj/forcings/profile_calculation.py#L13)

- `u`
- `v`
- `theta`
- `q`
- `clwc`
- `ciwc`
- `t`
- `p_f`
- `t_l`
- `cc`
- `q_t`
- `r_t`
- `r_v`
- `r_l`
- `r_i`
- `theta_l`

more to follow

[2021-11-03 13:38] LSaffin commented on #148
I think it will be easiest to use CF standard names for UM output. By default people use met office specific file formats for UM output which I can load with iris giving you variables by standard name. If I load UM data output to netCDF with xarray, the variable names are "STASH codes" which aren't very human readable. Standard prognostics are

| Standard name | STASH code | Possible ECMWF name |

[2022-01-10 11:05] leifdenby commented on #131
I'm closing this @sjboeing. Please reopen if you experience the issue again

[2022-01-10 11:05] #131 closed

[2022-01-11 12:31] leifdenby opened #151 "Missing timestep in trajectory?"
@sjboeing just mentioned to me that there might be an issue with a timestep missing in the trajectory output.

If we have a yaml-file file for a trajectory with the following:

[code]

The trajectory should contain the following times (and only these):

[code]

but may currently be missing the last one. Is that correct @sjboeing?

[2022-01-11 12:47] sjboeing commented on #151
Since we work with the data times that are available from ERA5, I think it should include 12:00, 13:00, 14:00, 15:00 and 16:00.

[2022-01-11 16:04] sjboeing commented on #151
Hi Leif. I think the 15:15 start time in itself should not be an issue. The trajectory uses time-interpolated velocity fields only at the origin point in this case (it used to do this, and I haven't noticed problems recently, but can check). We just need to ensure all the data is included so we can back/forward by at least the time specified in the yaml file.

[2022-01-21 11:48] #126 closed

[2022-02-14 22:01] sjboeing commented on #151
@leifdenby: I think I finally found the issue: _build_times_dataarray gets the right selection, but _get_times_from_domain has restricted the selection too much beforehand!

[2022-02-14 22:03] sjboeing commented on #151
I am not sure what is the best fix for this, we can discuss.

[2022-02-15 16:31] sjboeing commented on #151
@leifdenby: I am currently testing a possible fix. Will keep you posted.

[2022-02-15 18:24] sjboeing commented on #151
Got this to work with a hack, will add some more exception handling and make a PR.

[2022-02-16 09:43] sjboeing opened #152 "Extend trajectories"
@leifdenby: I propose to extend the trajectories to 12 hours beyond the circle, which we can still do with the present domain. 24 hours would be even nicer.

[2022-02-16 09:44] sjboeing opened #153 "Include optional inversion nudging parameters used for EUREC4A run"
For maximum consistency with Cologne setups.

[2022-02-16 09:54] sjboeing opened #154 "Fix SST to be consistent with Cologne runs"

[2022-03-11 10:23] leifdenby commented on #93
All example and README we fixed with https://github.com/EUREC4A-UK/lagtraj/pull/143 🥳

[2022-03-11 10:23] #93 closed

[2022-03-11 15:30] xychen-ocn opened #155 "forcing conversion format for SAM LES"
The toolbox is super convenient and easy to use ! I was just wondering if there is a forcing conversation format for SAM currently. I asked Peter Blossey about this and he shared a Matlab conversion function with me which he used to convert the racmo-formatted forcings from Lagtraj a year ago. If the conversion format for SAM is not available yet, I wonder how I can get the racmo-formatted forcing

[2022-03-11 15:42] leifdenby commented on #155
Hey @xychen-ocn! Thanks for the kind words (and for getting in touch on Mattermost!)

The steps to get this to work is create a file in [lagtraj/forcings/conversion/targets](`https://github.com/EUREC4A-UK/lagtraj/tree/master/lagtraj/forcings/conversion/targets`) called say `racmo.py` with a function inside it called `from_era5` (you can check out the one for KPT format here: https://github.com/EUR

[2022-03-11 16:37] xychen-ocn commented on #155
Thanks for the step-by-step explanation! Let me give it a try~
Here is the matlab files Peter Blossey shared. https://atmos.uw.edu/~bloss/nobackup/forXuanYu/LagtrajToSCAMNetcdfConversion.tgz
The main script is "ConvertLeedsEUREC4AForcings.m".

[2022-03-16 11:02] leifdenby commented on #63
@sjboeing can we close this issue? Or are there still issues to resolved with regarding creating forcings for simulation over land?

[2022-03-16 11:06] leifdenby commented on #106
@sjboeing I'm closing this since I think we have all the examples we want now and with https://github.com/EUREC4A-UK/lagtraj/pull/143 we also know that all examples in the README are valid and working

[2022-03-16 11:06] #106 closed

[2022-03-16 12:24] #98 closed

[2022-03-18 14:39] xychen-ocn commented on #155
Hi @leifdenby, I am almost there converting Peter's matlab script to sam.py. I wonder if I can test the sam conversion locally on my end before making a pull request. Thanks!

[2022-03-20 16:00] leifdenby commented on #155
That's awesome! Yes, feel free to add a pull-request already (you can always mark it as a "draft" if you want). I can give you some tips on how to improve it/solve problems etc if you need me to :)

I don't know if you spotted it but I recently updated the development notes I wrote for lagtraj: https://github.com/EUREC4A-UK/lagtraj/blob/master/docs/developing.md - the main change is that I set up

[2022-04-08 10:47] leifdenby opened #162 "suggestion: install and use numba by default"
@sjboeing I just installed lagtraj on a new computer I am developing on, and I noticed the tests were running very slowly. I then realise that this is because we don't install and use `numba` by default. I think we should change this as people are unlikely to realise that they should install numba otherwise. The only reasons I can see for not doing this are either 1) numba is hard to install or 2)

[2022-04-08 10:51] sjboeing commented on #162
Yes, I think by now numba is only a minor additional dependency. It would be good to keep the option of running without numba optional (but maybe the user should need to very explicitly request it), as it can be useful for debugging.

[2022-05-09 09:27] leifdenby opened #163 "Add `--pack` to pack all netCDF and yaml files used to produce a forcing/trajectory into a .tar.gz file"
Just now asking @sjboeing for some forcings he's produced I realised it would be useful to have an argument that could be passed to the commands which produce trajectories and forcings which would save the result into a .tar.gz file, including any intermediate files and the source yaml-files. If we also included the git commit for the copy of lagtraj which produced the forcings this should make cr

[2022-05-10 09:12] sjboeing commented on #163
Ah I got confused. Do you mean running:

[code]

Sounds good! Did we talk about including the git commit into the individual netcdf files before? Not sure what is the best approach here.

[2022-05-10 15:10] leifdenby commented on #163
Yes! Sorry, that was the key bit! :laughing:

Yes, I think we might have done. I'll make another issue for that

[2022-09-05 13:25] sjboeing opened #166 "Ensure tar ball with tests is up to date"
@leifdenby I am currently getting a substantial number of errors when trying to run the tests from the tar ball (maybe I just need to set another environment variable, or maybe this has become outdated?). The output is given below for reference.

[errors_with_tempdir.txt](https://github.com/EUREC4A-UK/lagtraj/files/9490119/errors_with_tempdir.txt)

[2022-09-05 15:24] leifdenby commented on #166
Could you point me to the branch that you're working from and I will have a look?

[2022-09-05 15:35] leifdenby commented on #162
https://github.com/EUREC4A-UK/lagtraj/pull/167 is ready for review now @sjboeing when you've got a moment to have a look :)

[2022-09-05 15:36] leifdenby commented on #151
I've finished this work in https://github.com/EUREC4A-UK/lagtraj/pull/159 which is ready for review now @sjboeing when you've got time :) https://github.com/EUREC4A-UK/lagtraj/pull/167 needs reviewing first though since I pulled in those changes to speed up the CI tests

[2022-09-05 15:40] sjboeing commented on #166
It is the timings on master branch (https://github.com/EUREC4A-UK/lagtraj/pull/164)

[2022-09-05 16:30] #151 closed

[2022-10-13 13:59] sjboeing commented on #154
Clsing via #168

[2022-10-13 13:59] #154 closed

[2022-10-13 14:01] sjboeing commented on #162
Closing via #167

[2022-10-13 14:01] #162 closed

[2022-10-13 14:06] leifdenby commented on #166
Need to update dev notes to point to correct test data URL

https://github.com/EUREC4A-UK/lagtraj/blob/master/docs/developing.md

[2022-10-13 14:09] sjboeing commented on #140
Closed via #141

[2022-10-13 14:09] #140 closed

[2022-10-18 12:37] #166 closed

[2022-10-19 13:22] sjboeing commented on #152
Solving this in #171

[2022-10-19 14:06] sjboeing commented on #63
@leifdenby: I think we should not do anything before 0.1.0 anymore, but may want to do a fix for non-zero surface height in 0.2.0

[2022-10-26 09:22] sjboeing commented on #152
Closing via #171

[2022-10-26 09:22] #152 closed

[2022-11-03 13:41] sjboeing opened #173 "Create input from IFS (for comparison with ERA5)"
This was suggested by Roel Neggers. The IFS data is in GRIB format, but we may be able to read it in with xarray nevertheless.

[2022-11-06 18:33] leifdenby opened #177 "Ensure input-definition examples are extracted when installing from pypi"
So, the good news is `v0.1.0` is now live on pypi (https://pypi.org/project/lagtraj/) @sjboeing :)

The bad news is that for some reason the input definition examples aren't being copied to the right place when installing from pypi. So when trying to list the included examples I get the following:

[code]

This is obviously needs fixing asap, and I'll then release `v0.1.0`.

[2022-11-06 19:06] sjboeing commented on #177
Thanks for putting this on pypi, @leifdenby. Let me know if there is anything I can check.

[2022-11-06 19:31] #177 closed

[2022-11-14 16:18] leifdenby opened #179 "Use CF-compliant `standard_name` is internal nomenclature instead of ERA5"
To ease the use of input data from other sources that ERA5 I think we should switch to accessing variables using the CF-compliant standard name instead. This is made easy using the [cf-xarray](https://cf-xarray.readthedocs.io/en/latest/examples/introduction.html#feature-accessing-variables-by-standard-names) package. We could then also define the set of minimum required variables using the CF-comp

[2022-11-14 16:19] leifdenby commented on #62
all done!

[2022-11-14 16:19] #62 closed

[2022-11-14 17:35] sjboeing commented on #179
@leifdenby: yes, this sounds good, though I will need to think it through: it would involve adding a dictionary for the mapping for each input model, initially I had thought of using the ERA5 names as a reference for the other models. IFS naming is likely to be very similar to ERA5.

[2022-11-15 02:49] xychen-ocn opened #180 "How to download only the skin temperature variable to update existing ERA5 data files"
Hi @leifdenby and @sjboeing,
🎉 Thank you for bumping LagTraj to `v0.1.1`! 🎉

I am getting back to the LES world and SAM. After syncing my repo to v0.1.1, I realized that the ERA5 netCDF files I originally downloaded do not contain the skin temperature variable (skt) introduced in #168. Is there a way to download only the skt variable so that I can manually update all data files I already had? I am

[2022-11-15 08:56] sjboeing commented on #180
@xychen-ocn: great to see the new work on SAM inputs. I am not sure if only downloading the SST would be quicker, due to the way the ECMWF data is retrieved from disk (assuming getting the data from the tape archive rather than downloading is the bottleneck). In principle, I think it should be possible to modify the download script in a temporary branch to only download skin temperature, and then

[2022-11-15 08:59] sjboeing opened #181 "Remove spurious comment on SST correction from KPT attributes."

[2022-11-15 09:39] leifdenby commented on #179
Yes, I think it will mean that when targeting a specific output model we would refer to the variables to use by their standard name.

[2022-11-15 21:51] sjboeing commented on #181
Addressed in #182

[2022-11-16 07:04] xychen-ocn opened #183 "Coordinate variable time is neither monotonically increasing nor monotonically decreasing on all datasets"
Somehow I seem to attract strange bugs:
I downloaded some data from ERA5 today and encountered the following errors when creating trajectories. It suggests the time variable in this new batch of ERA5 data is weirdly not in ascending order as commonly expected.
[code]

I then ncdumped the time variable from `an_single_2020-02-14.nc (downloaded today)` and compared it to the time variable in a previ

[2022-11-16 13:26] sjboeing commented on #183
Thanks @xychen-ocn: it looks like it puts 6-hourly data first (not sure where the 6-hour time scale would come from, maybe it has to do with when forecasts are initialised). Sorting the data upon loading it seems like a sensible strategy. @leifdenby: what do you think?

[2022-11-19 10:08] sjboeing opened #184 "Place converted trajectories in "trajectories" directory rather than in a "lagtraj:/" subdirectory"
Currently there's a bug in to what directory the yaml-file which describes how the conversion of forcings is done.

Steps to reproduce:

[code]
`eurec4a_20200202_first_short.dephy.yaml` shouldn't be in `forcings/:lagtraj` but in `forcings/`

[2022-11-22 09:27] leifdenby commented on #183
Hi @xychen-ocn - thanks for creating this issue! :)

Could you put the exact commands you ran in here so I can try and reproduce the issue? If you're working off a branch could you point me to that too? If I have that I can have a look and try and work out what is going on

[2022-11-22 09:43] leifdenby commented on #180
Sorry @xychen-ocn, I thought this might be an issue. Unfortunately, I haven't had time to write functionality in lagtraj that would just download any variables not already present. You could do as @sjboeing suggests and modify lagtraj yourself to 1) only queue and download the additional variables and 2) read in ERA5 data where some variables are split in separate files. You need to modify 1) http

[2022-11-22 09:47] leifdenby commented on #138
@jbrooke-metoffice I'm going to close this assuming this is no longer an issue. Please re-open if not :)

[2022-11-22 09:47] #138 closed

[2022-11-22 09:47] leifdenby commented on #130
@sjboeing I think we can close this?

[2022-11-24 10:14] leifdenby commented on #124
Based on email from Romain it looks like this is the most recent version of the DEPHY spec: https://docs.google.com/document/d/1eAWY-ELL5Ua6a9WIsv4ODHmLXvfgla5TNQAuAwNASo0/edit

[2022-11-24 10:56] #181 closed

[2022-11-24 10:59] sjboeing commented on #180
@xychen-ocn, @leifdenby: are we OK to close this for now?

[2022-11-24 15:12] leifdenby commented on #124
Here's a spreadsheet with all the variables for future reference: https://docs.google.com/spreadsheets/d/1L4G2E7kDLkD-oMY1oiHSylJAGF22emW0-s1Q6PU5pX8/edit#gid=0

[2022-11-25 11:26] ralphburton commented on #183
Hi @sjboeing @leifdenby @xychen-ocn

I got the same problem when testing lagtraj on Archer2.

python -m lagtraj.domain.download lagtraj://eurec4a_circle 20200202 20200202

...ok, all files downloaded

python -m lagtraj.trajectory.create lagtraj://eurec4a_20200202_first_short

...gets "ValueError: Coordinate variable time is neither monotonically increasing nor monotonically decreasing on all datas

[2022-11-25 14:47] ralphburton commented on #183
Follow up:

You can replicate the fault with the python script below.

If you use the file as-is, the times are OK.

If you change the date to 2020, you get the error...

Seems like the fault is at their end, is their netcdf still experimental? If I download the 2020 grib file instead, it seems to be in the correct order (I think).

#!/usr/bin/env python
import cdsapi
c = cdsapi.Client()
c.retriev

[2022-11-25 15:01] leifdenby commented on #183
Thanks for this @ralphburton ! I'll have a look this. Thanks for the providing the commands to reproduce.

[2022-11-25 16:00] sjboeing commented on #183
Thanks @ralphburton: we can either try to fix the order as a part of the download process, or when the files are read into Lagtraj. Not sure what is best.

[2022-11-26 18:30] xychen-ocn commented on #183
Thanks @ralphburton for sharing your experience and providing the commands too!

@leifdenby My commands are pretty similar except that I downloaded in a self-defined domain and for a series of days using bash script. Below is an example for a particular day.

[code]

My yaml input file for creating the domain:`atomic_northwest_atlantic.yaml`
[code]

The trajectory yaml input file: `ATOMIC_RHB_2020

[2022-11-26 18:33] xychen-ocn commented on #180
I am good and have downloaded everything afresh. Thank you!

[2022-11-26 18:33] #180 closed